root.dir=/Users/nikhillo/Documents/
dump.filename=WikiDump_1600.xml
tknizer.nthreads=1
tmp.dir=/Users/nikhillo/tmp/
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
pretkn.rules=DATES,NUMBERS